body,ul,p,h1,h2,h3,h4,h5,dl,dt,dd,form,input,textarea,select{padding:0px;margin:0;font-size:14px;font-family:Helvetica "å¾®è½¯é›…é»‘" arial;}
li{list-style:none;}
img{display:block;border:none;}
a:link,a:visited{text-decoration:none;color:#454545;transition:all 0.2s ease;cursor:pointer;}
a:hover,a:active{text-decoration:none;color:#1a72ed;}
input,button{outline:none;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
.clearfix:after{content:'';display:block;clear:both;}
.clearfix{zoom:1;}